<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>Omer Keskin</title>
</head>
<body>
<p>Spring boot ilk html denemesi</p>

<div id="app">
    <p>{{ message }}</p>

    <button id="btn_mycustom"  onclick="alert('Hello dunya!')">Click Me!</button>
    <button id="btn_vueexample"  v-on:click="showAlert">Vue Click</button>
    <p>deneme Coordinates : x={{ x }}, y={{ y }}</p>
</div>


<script src="myscript.js"></script>


</body>
</html>